<script language="JavaScript" type="text/javascript"><!--
function delcodec ( DELID ) {
	var frage = confirm ( "Willst du diesen Codec wirklich entfernen?" );
	if ( frage == true ) {
	  document.location.href="?video-cdel-"+DELID;
	}
}

function delcat ( DELID ) {
	var frage = confirm ( "Willst du diese Kategorie wirklich entfernen?" );
	if ( frage == true ) {
	  document.location.href="?video-c2del-"+DELID;
	}
}

function delcheck ( DELID ) {
	var frage = confirm ( "Willst du diesen Eintrag wirklich entfernen?" );
	if ( frage == true ) {
	  document.location.href="?video-del-"+DELID;
	}
}
//--></script>

<script type='text/javascript' src='include/includes/js/bbcode.js'></script>

<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src="include/images/icons/admin/news.png" /></td><td width="30"></td><td valign="bottom"><h1>Videoplayer</h1></td></tr></table>
<hr style="width: 400px; margin: 0px;" >
<br /><br />

<table border="0" cellspacing="0" cellpadding="0"><tr><td valign="top">

<form method="POST" name="form" action="?video">
  <input type="hidden" name="um"     value="{AKTION}">
  <input type="hidden" name="videoID" value="{VIDEOID}">
	<table width="550" cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right"><strong>Name : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="name" value="{NAME}"></td>
    </tr>
	<tr> 
      <td class="Cmite" align="right"><strong>Video-ID : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="vid" value="{VID}" /></td>
	</tr>
	<tr> 
      <td class="Cmite" align="right"><strong>Videocodec : </strong></td>
      <td class="Cnorm"><select name="player">{PLAYER}</select></td>
	</tr>
	<tr> 
      <td class="Cmite" align="right"><strong>Kategorie : </strong></td>
      <td class="Cnorm"><select name="cat">{CATS}</select></td>
	</tr>
	<tr> 
      <td class="Cmite" align="right" valign="top"><strong>Beschreibung : </strong></td>
      <td class="Cnorm"><textarea name="text" cols="49" rows="10">{TEXT}</textarea></td>
	</tr>
	<tr> 
      <td class="Cmite" align="right"><strong>Kommentare : </strong></td>
      <td class="Cnorm"><input type="checkbox" checked="checked" name="coms" value="0" style="display:none" /><input type="checkbox" {checkCOMS} name="coms" value="1" /> <span class="smalfont">zulassen?</span></td>
	</tr>
	<tr> 
      <td class="Cmite" align="right"><strong>in Box anzeigen  : </strong></td>
      <td class="Cnorm"><input type="checkbox" checked="checked" name="showBox" value="0" style="display:none" /><input type="checkbox" {checkBOX} name="showBox" value="1" /></td>
	</tr>
	<tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
<br /><br />

<table width="550" cellpadding="2" cellspacing="1" border="0" class="border">
{EXPLODE}
    <tr> 
      <td class="Cdark" height="20" align="center" colspan="3"><strong>{videocodec}</strong></td>
    </tr>
{EXPLODE}
	<tr> 
      <td width="10%" height="20" class="Cmite" align="center" valign="middle"><a href="#" name="{ID}"></a><a href="javascript:delcheck({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
      <td width="10%" class="Cmite" align="center" valign="middle"><a href="?video-edit-{ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
      <td width="80%" class="Cmite" align="left" valign="middle">{name}</td>
    </tr>
{EXPLODE}
  </table>
<br /><br />

<div class="info_box">
			<b>Merke (Support)</b>
			<br />
		<span class="smalfont"> Wenn du Hilfe ben&ouml;tigst mit der Video-ID oder dem Video-Codec
kannst du mich per eMail erreichen: <strong>info@cristiang.de</strong> <br />
			Weitere Video-Codecs und eine Dokumentation findest du auf meiner Webseite: <strong>www.cristiang.de</strong> </span></div>
		
<div class="info_box">
			<b>Merke (Kategorie)</b>
			<br />
		<span class="smalfont">Wenn du eine Kategorie l&ouml;schst dann werden alle Videos in dieser Kategorie nicht gel&ouml;scht!</span></div>
		
<div class="info_box">
			<b>Merke (Video-ID)</b>
			<br />
		<span class="smalfont">
Die Video-ID ist eine Zeichenkette die aus Zahlen oder Buchstaben+Zahlen bestehen kann. <br />
			M&ouml;chte man z.B. ein Video von Youtube einbinden dann kann die Video-ID aus der URL zum Video herauskopieren. <br />
		    <strong>Beispiel:</strong><br />Die URL lautet: http://www.youtube.com/watch?v=<strong>EOExl5doR2A</strong><br />
	    Davon brauchen wir nur die Video-ID ( das fettgedruckte im Beispiel ) also das: <br />
	    EOExl5doR2A<br />
	    Diese Video-ID oben in das Formular einf&uuml;gen und youtube als Player ausw&auml;hlen.<br /><br />
	    Das Funktioniert auf die Weise mit jedem Anbieter egal ob youtube, myvideo oder vimeo der einzige Unterschied kann in der Video-URL und der Zeichenkette liegen - mal sind es nur Zahlen und mal ein Mix. </span></div>

<div class="info_box">
				<b>Merke (Video-Codec)</b>
				<br />
				<span class="smalfont">
				Der Videocodec ist der Code womit das Video abgespielt wird. Diesen Codec bekommt man beim jeweiligen Videohoster als Embet-Code um ihn auf der eigenen Webseite einzuf&uuml;gen. Folgendes ist hier zu beachten. Bestimmte Teile m&uuml;ssen durch Variablen ersetzt werden hier <strong>ein Beispiel</strong>:<br /><br />myvideo-codec :<br />
				&lt;iframe src='https://www.myvideo.de/embed/<strong>5774568</strong>' style='width<strong>:611</strong>px;height:<strong>383</strong>px;border:0px none;padding:0;margin:0;' width='<strong>611</strong>' height='<strong>383</strong>' frameborder='0' scrolling='no'&gt;&lt;/iframe&gt;<br /><br />
				myvideo-codec :<br />
				&lt;iframe src='https://www.myvideo.de/embed/<strong>{vid}</strong>' style='width:<strong>{vwidth}</strong>px;height:<strong>{vheight}</strong>px;border:0px none;padding:0;margin:0;' width='<strong>{vwidth}</strong>' height='<strong>{vheight}</strong>' frameborder='0' scrolling='no'&gt;&lt;/iframe&gt;</span></div>

</td><td width="75">&nbsp;</td><td valign="top">

{MPL}
<table width="300" cellpadding="3" cellspacing="1" border="0" class="border">
  <tr class="Cdark"> 
    <td colspan="4" align="center"><strong>Videocodec</strong></td>
  </tr>
  {EXPLODE}<tr class="{class}">
	  <td width="10%" height="20" align="center" valign="middle"><a href="#" name="{ID}"></a><a href="javascript:delcodec({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
    <td width="10%" align="center" valign="middle"><a href="?video-cedit-{ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
    <td width="10%" align="center" valign="middle"><img src="include/images/icons/player/{ICON}" alt="icon" title="{TITEL}" border="0"></td>
		<td width="70%" valign="middle">{TITEL}</td>
 </tr>{EXPLODE}
</table>
{MPL}
<br />
<br />


<form method="POST" name="form" action="?video">
  <input type="hidden" name="um"     value="{AKTION}">
  <input type="hidden" name="cID" value="{CID}">
	<table width="300" cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right"><strong>Name : </strong></td>
      <td class="Cnorm"><input size="20" type="text" name="cname" value="{CNAME}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Icon : </strong></td>
      <td class="Cnorm"><input size="20" type="text" name="cicon" value="{CICON}"></td>
    </tr>
	<tr>
      <td class="Cmite" align="right"><strong>Codec : </strong></td>
      <td class="Cnorm"><textarea name="ctxt" rows="8" cols="20" tabindex="2">{ctxt}</textarea></td>
    </tr>
	<tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
<br />
<br />


<table width="300" cellpadding="3" cellspacing="1" border="0" class="border">
  <tr class="Cdark"> 
    <td colspan="3" align="center"><strong>Kategorien</strong></td>
  </tr>
  {EXPLODE}<tr class="{class}">
	  <td width="10%" height="20" align="center" valign="middle"><a href="#" name="{ID}"></a><a href="javascript:delcat({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
    <td width="10%" align="center" valign="middle"><a href="?video-c2edit-{ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
		<td width="70%" valign="middle">{TITEL}</td>
 </tr>{EXPLODE}
</table>
<br />
<br />


<form method="POST" name="form" action="?video">
  <input type="hidden" name="um"     value="{AKTION}">
  <input type="hidden" name="c2ID" value="{C2ID}">
	<table width="300" cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right"><strong>Kategorie : </strong></td>
      <td class="Cnorm"><input size="20" type="text" name="c2name" value="{C2NAME}"></td>
    </tr>
	<tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
</td></tr></table>
