<form action="index.php?forum-editforum-{id}" method="POST">
{antispam}
{EXPLODE}
<div id="forum_content">
<table width="100%" cellpadding="0" cellspacing="0" class="forum_thema">
	<tr>
		<td>
			<div id="forum_last_kom">
			<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
				<tr>
					<td>
						<a href="index.php?forum-showposts-{id}">{name}</a><br />
						<span class="kleintext">{_lang_author}: {erst}</span>
					</td>
				</tr>
			</table>
			</div>
		</td>
		<td align="center"><img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> <span class="kleintext">{rep}</span></td>
		<td align="center"><span class="kleintext">{date}</span></td>
		<td><input type="checkbox" name="in[{id}]" value="yes" /></td>
	</tr>
</table>
</div>
{EXPLODE}
<!--/table>
</div-->
<input type="submit" name="del" value="{_lang_delete}" class="forumbutton" />
<input type="submit" name="shift" value="{_lang_shift}" class="forumbutton" />
<input type="submit" name="status" value="{_lang_status} {_lang_change}" class="forumbutton" />
</form>
{MPL}