<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
  <tr>
	  <th colspan="2" height="20" class="Chead">
		  <b>{_lang_preview}</b>
		</th>
	</tr><tr>
    <td class="Cmite">{txt}</td>
  </tr>
</table>
<br /><br />
{EXPLODE}
<script language="JavaScript" type="text/javascript">
<!--
  function form_check() {
	  document.form.submit.disabled = true;
 	  document.form.submit.style.background = '#FF0000';
    document.form.submit.value = '{_lang_send}...';
    return true;
	}
//-->
</script>

<form action="index.php?forum-newpost-{tid}" method="POST" name="form" onSubmit="return form_check()">

<script type="text/javascript" src="include/includes/js/bbcode.js"></script>

<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5" align="center">
	<tr>
		<td height="20" class="Chead"><b>{_lang_writeananswer}</b></td>
	</tr>
	{name}
	<tr>
		<td align="left"><a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a></td>
	</tr>
	<tr>
		<td class="Cmite" valign="top">{SMILIES}</td>
	</tr>
	<tr>
		<td class="Cnorm"><!-- BB Code START -->{__BBCodeButtons__}
		<script type="text/javascript"><!--
      function forumupl () {
      var Fenster = window.open ('index.php?user-forumupl', 'forumupl', 'status=yes,scrollbars=no,height=220,width=700');
      Fenster.focus();
      }
      //-->
    </script><br>
    <a href="javascript:forumupl();"><img src="http://www.gods-of-nation.eu/images/photoupload.jpg"></a><!-- BB Code ENDE --></td>
	</tr>
	<tr>
		<td width="80%" class="Cnorm"><textarea id="pintura" style="width:98%" name="txt" rows="15" cols="55" tabindex="2">{txt}</textarea>
				<script type="text/javascript">
					var googie1 = new GoogieSpell("include/includes/googiespell/", "http://orangoo.com/newnox?lang=");
					googie1.decorateTextarea("pintura");
				</script></td>
	</tr>
	<tr>
		<td class="Cnorm"><input id="topic_alert" type="checkbox" value="yes" name="topic_alert" /><label for="topic_alert">{_lang_options} {_lang_mailonreply}</a></td>
	</tr>
	{antispam}
	<tr class="Cmite">
		<td align="right"><input type="submit" name="priview" value="{_lang_preview}" accesskey='v' />&nbsp;<input type="submit" name="submit" value="{_lang_formsub}" accesskey='s' /></td>
	</tr>
</table>
</form>
<br />
<b>{_lang_overvieaboutthelast5posts}</b>
<table width="100%" border="0" cellspacing="1" class="border" cellpadding="3" class="Cnorm">
  {EXPLODE}
	<tr>
	  <td valign="top" width="20%">{erst}</td>
    <td width="80%">{txt}</td>
	</tr>{EXPLODE}
</table>