<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
  <tr>
	  <th colspan="2" height="20" class="Chead">
		  <b>{_lang_preview}</b>
		</th>
	</tr><tr>
    <td class="Cmite">{txt}</td>
  </tr>
</table>
<br /><br />
{EXPLODE}
<script language="JavaScript" type="text/javascript">
<!--
  function form_check() {
	  document.form.submit.disabled = true;
 	  document.form.submit.style.background = '#FF0000';
    document.form.submit.value = '{_lang_send}...';
    return true;
	}
//-->
</script>

<form action="index.php?forum-newtopic-{fid}" method="POST" name="form" onSubmit="return form_check()">

<script type="text/javascript" src="include/includes/js/bbcode.js"></script>

<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
	<tr>
		<th colspan="2" height="20" class="Chead">
		  <b>{_lang_writeanewtopic}</b>
		</th>
	</tr>
	<tr>
		<td colspan="2" align="left"><a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a></td>
	</tr>
	<tr>
		<td class="Cmite"><b>Titel:</b>&nbsp;<br><input type="text" size="40" value="{topic}" maxlength="40" tabindex="1" name="topic"><br />
		<br /><br><input type="checkbox" name="icon" value="0" checked /><img src="include/includes/css/pa_forum/images/themen_icon/keins.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="1" /><img src="include/includes/css/pa_forum/images/themen_icon/1.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="2" /><img src="include/includes/css/pa_forum/images/themen_icon/2.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="3" /><img src="include/includes/css/pa_forum/images/themen_icon/3.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="4" /><img src="include/includes/css/pa_forum/images/themen_icon/4.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="5" /><img src="include/includes/css/pa_forum/images/themen_icon/5.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="6" /><img src="include/includes/css/pa_forum/images/themen_icon/6.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="7" /><img src="include/includes/css/pa_forum/images/themen_icon/7.png" alt="" align="absmiddle" />
  {_if_{SESSION_AUTHRIGHT}<='-8'}
  &nbsp;
  <input type="checkbox" name="icon" value="8" /><img src="include/includes/css/pa_forum/images/themen_icon/8.png" alt="" align="absmiddle" />&nbsp;
  <input type="checkbox" name="icon" value="9" /><img src="include/includes/css/pa_forum/images/themen_icon/9.png" alt="" align="absmiddle" />
  {/_endif}
		</td>
	</tr>
	<tr>
		<td class="Cnorm">{bestellung}{__BBCodeButtons__}
		<script type="text/javascript"><!--
      function forumupl () {
      var Fenster = window.open ('index.php?user-forumupl', 'forumupl', 'status=yes,scrollbars=no,height=220,width=700');
      Fenster.focus();
      }
      //-->
    </script><br>
    <a href="javascript:forumupl();"><img src="http://www.gods-of-nation.eu/images/photoupload.jpg"></a></td>
	</tr>
	<tr>
		<td width="100%" class="Cnorm">
		  <textarea style="width: 98%" id="pintura" cols="75" rows="15" name="txt" tabindex="3">{txt}</textarea>
		  <script type="text/javascript">
	var googie1 = new GoogieSpell("include/includes/googiespell/", "http://orangoo.com/newnox?lang=");
		googie1.decorateTextarea("pintura");
  </script>
		</td>
	</tr>
	<tr>
		<td class="Cmite" valign="top">{SMILIES}</td>
	</tr>
	<tr>
		<td class="Cmite">{_lang_options}&nbsp;<input id="topic_alert" type="checkbox" value="yes" name="topic_alert" /><label for="topic_alert"> {_lang_mailonreply}</a></td>
	</tr>
	{antispam}
	<tr class="Cmite">
		<td><input type="submit" name="priview" value="{_lang_preview}" accesskey='v' />&nbsp;<input type="submit" name="submit" value="{_lang_formsub}" accesskey='s' /></td>
	</tr>
</table>
</form>
