<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
  <tr>
	  <th colspan="2" height="20" class="Chead">
		  <b>{_lang_preview}</b>
		</th>
	</tr><tr>
    <td class="Cmite">{txt}</td>
  </tr>
</table>
<br /><br />
{EXPLODE}
<script language="JavaScript" type="text/javascript">
<!--
  function form_check() {
	  document.form.submit.disabled = true;
 	  document.form.submit.style.background = '#FF0000';
    document.form.submit.value = '{_lang_send}...';
    return true;
	}
//-->
</script>

<form action="index.php?forum-editpost-{tid}-{oid}" method="POST" name="form" onSubmit="return form_check()">
<script type="text/javascript" src="include/includes/js/bbcode.js"></script>

<table width="100%" border="0" cellspacing="1" class="border" cellpadding="5">
	<tr>
		<th height="20" class="Chead">
			<b>{_lang_editthispost}</b>
		</th>
	</tr>
	<tr>
		<td align="left"><a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a></td>
	</tr>
	<tr>
		<td class="Cnorm">
			<!-- BB Code START -->
			{__BBCodeButtons__}
			<!-- BB Code ENDE -->
		</td>
	</tr>
	<tr>
		<td width="80%" class="Cnorm"> 
			<textarea style="width: 98%" id="pintura" name="txt" rows="15" cols="50" tabindex="2">{txt}</textarea>
			<script type="text/javascript">
				var googie1 = new GoogieSpell("include/includes/googiespell/", "http://orangoo.com/newnox?lang=");
				googie1.decorateTextarea("pintura");
			</script>
		</td>
	</tr>
	<tr class="Cmite">
		<td class="Cmite" valign="top">{SMILIES}</td>
	</tr>
	<tr class="Cmite">
		<td><input type="submit" name="priview" value="{_lang_preview}" accesskey='v' />&nbsp;<input type="submit" name="submit" value="{_lang_formsub}" accesskey='s' /></td>
	</tr>
</table>
</form>
<br />
<b>{_lang_overvieaboutthelast5posts}</b>
<table width="100%" border="0" cellspacing="1" class="border" cellpadding="3">
  {EXPLODE}
	<tr class="Cnorm">
	  <td valign="top" width="20%">{erst}</td>
    <td width="80%">{txt}</td>
	</tr>{EXPLODE}
</table>
