<div id="forum_oben"><div style="float:right;">Gesamt: {gAnz}</div></div>
{EXPLODE}
<div id="forum_content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="forum_thema">
  <tr>
    <td class="erstezeile" width="15"><img src="include/images/forum/{ord}.png" border="0"></td>
    <td class="erstezeile"><a href="index.php?{link}"><strong>{titel}</strong>{author}</a></td>
  </tr>
</table>
</div>
{EXPLODE}
<div id="forum_foot" align="right"></div>
<br />
{MPL}
{EXPLODE}
<br /><form action="index.php?forum-aeit" method="post"><input type="submit" value="{_lang_ownposts} {_lang_from} :" /> <input name="name" value="{name}" type="text" size="15" /> &nbsp; </form>