<script type="text/javascript" src="include/includes/js/wz_tooltip/wz_tooltip.js"></script>
<a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a>
<br /><br />
<div style="float:left; margin-top:-15px;">{SITELINK}</div><div style="float:right;">{ANTWORTEN}</div>
<br /><br />
<div id="forum_oben_post"><b>{TOPICNAME}</b></div>
{EXPLODE}
<div id="forum_post_oben">
	<div id="forum_post_edit-delete">
{delete}{change}<div id="forum__post" style="margin-right:1px;"><a href="index.php?forum-newpost-{TID}-z{id}"><img src="include/includes/css/pa_forum/images/forum_icon/zitieren.png" alt="" title="Beitrag von {ers} zitieren!" /></a></div>
	</div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr> 
		<td height="66" valign="top" class="forum_post">
			
			<div style="float:left; margin:-30px 0 0 -10px;"><div id="forentop"><span class="kleinpost"><b>Beitrag ({i}) vom {date} um {zeit}</b></span></div></div>
			<div style="float:left; width:50px;  margin:5px 0 0 5px; overflow:hidden; display:block;">{avatar}</div>
            <div style="float:left; width:200px; margin:5px 0 0 5px;"><a name="{id}"></a>{erst}<font class="kleintext"> ({posts})
            
            <div class="userrechtbutton">
                <span class="{rechtname}-color">{rechtname}</span>
            </div>
            
              Level: {rang}</font></div><br />
			<div style="float:left; width:300px; margin:5px 0 0 5px;">{edit}<br />{danke}</div>
			<div style="float:right; min-height:68px; padding-right:5px;">{ausgaben}{aktiv}{dank}</div>
		</td>
	</tr>
	<tr>
		<td width="80%" valign="top">   
		<div id="textfeld">{txt}<br />{sig}</div>
		</td>
	</tr>
	<tr> 
		<td><div id="forum_foot_post" style="padding-top:1px;" valign="top">{THX}{profil}{hp}{pn}{druck}
			<div id="forum_foot_color" style="float:right; margin-top:-3px;">{online}</div>
<script type="text/javascript">
    var open = 1;
    function dist_switch_{id}() {
        if(open == 0) {
            dist_close_{id}();
        } else {
            dist_open_{id}();
        }
    }

    function dist_open_{id}() {
        var plusid = 'plus' + '_{id}';
        var hwid = 'hw' + '_{id}';
        document.getElementById(plusid).style.height='0px';
        document.getElementById(hwid).style.height='50px';
        open = 0;
    }

    function dist_close_{id}() {
        var plusid = 'plus' + '_{id}';
        var hwid = 'hw' + '_{id}';
        document.getElementById(plusid).style.height='9px';
        document.getElementById(hwid).style.height='0px';
        open = 1;
    }
</script>

<fieldset onclick="dist_switch_{id}()" style="height: auto; border: 0px none; cursor: pointer;">
    <img id="plus_{id}" src="include/images/icons/plus.gif" />
    <small>Distanzierung</small>
    <div style="overflow: hidden; height: 0px;" id="hw_{id}">
        <img id="plus_{id}" src="include/images/icons/minus.gif" />
        Der Betreiber und die Moderatoren dieses Forums distanzieren sich hiermit Ausdrücklich von dem von <a href="index.php?user-details-{id}">{erst}</a> am {date} Uhr verfassten Beitrag. Sollte dieser Beitrag Ihre Rechte verletzen bitten wir um eine <a href="index.php?contact">Benachrichtigung</a>
    </div>
</fieldset>
		</div></td>
	</tr>
</table><br /><br />
	{EXPLODE}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr> 
		<td width="60%"><a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a> {SITELINK}</td>
		<td width="40%" align="right">{ANTWORTEN}</td>
	</tr>
</table>
{EXPLODE}
<br />
<div style="padding:2px 5px;">
<strong class="kleintext">{_lang_administrattopic}</strong><br /><br />
<a href="javascript:renametopic()" class="forumbutton">{_lang_rename}</a>
<a href="javascript:icontopic()" class="forumbutton">Icon &auml;ndern</a>
<a href="index.php?forum-edittopic-{tid}-2" class="forumbutton">{_lang_delete}</a>
<a href="index.php?forum-edittopic-{tid}-3" class="forumbutton">{_lang_shift}</a>
<a href="index.php?forum-edittopic-{tid}-4-2" class="forumbutton">{status}</a>
<a href="index.php?forum-edittopic-{tid}-5" class="forumbutton">{festnorm}</a>
</div>


<script language="JavaScript" type="text/javascript">
<!--
  function renametopic () {
	  var x = prompt ( "Bitte den neuen Namen vom Thema eintragen" , "" );
		if ( x ) {
		  document.location.href="index.php?forum-edittopic-{tid}-1=0&newTopic="+x;
		}
	}
  function icontopic () {
	  var x = prompt ( "Nummer des neues Icons eintragen \n 1 = WoW | 2 = Frage | 3 = Allianz | 4 = Horde | 5 = FIFA \n 6 = GTA | 7 = Mine Craft | 8 = Info | 9 = Wichtig" , '' );
		if ( x ) {
		  document.location.href="index.php?forum-edittopic-{tid}-6=0&icon="+x;
		}
	}
	
//-->
</script>
