<div style="position:relative; height:22px;" class="Cmite"></div>
<div style="margin-top: -25px;"> 
{EXPLODE}
<div id="forum_foot" align="right"><span class="foottext">
Diese Kategorie enth&auml;lt: 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_foren_grau.png" alt="" align="absmiddle" /> Foren: {count} 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_themen_grau.png" alt="" align="absmiddle" /> Themen: {themen} 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> Posts: {post}</span></div>
<div id="forum_oben">
	<div id="forentop"><a class="forum_name" href="index.php?forum-showcat-{cid}">{cname}</a></div>
</div>
    <div id="forentop_anzeige">
    	<div id="showforum_status">Status</div>
        <div id="showforum_thema">Thema</div>
    </div>


{EXPLODE}
<div id="forum_oben"><div id="forentop"><a class="forum_name" href="index.php?forum-showcat-{cid}">- {cname}</a></div></div>
{EXPLODE}
<div id="forum_content">
<table width="100%" cellpadding="0" cellspacing="0" class="forum_thema">
	<tr >
	  <td width="8%" align="center" valign="middle"><img alt="" src="include/images/forum/{ORD}.png" width="56" height="56" border="0"></td>
      <td width="40%">
		  <a class="forum_nam" href="index.php?forum-showtopics-{id}">{name}</a>
		  <br />
			<span class="kleintext">{besch}
			{mods}
      </span>
	  </td>
      <td class="forum_last" width="6%" align="center"></td>
      <td class="forum_last">
      	<div id="forum_last_kom">
			<table cellspacing="0" cellpadding="0" border="0" align="left" width="100%">
				<tr class="avatar">
					<td rowspan="4" width="12%" valign="middle" style="padding-top:4px;"><img src="{avatar}" alt="" width="35" height="43" /></td>
				</tr>
				<tr>
					<td><span class="smalfont"><a class="smalfont" title="{topicl}" href="index.php?forum-showposts-{tid}-p{page}#{pid}">{topic}</a></td>
				</tr>
				<tr>
					<td><span class="kleintext">{poster}</span></td>
				</tr>
				<tr>
					<td><span class="kleintext">{datum}</span></td>
				</tr>
			</table>
		  
        </div>  
	  </td>
      <td width="13%" align="left" valign="middle">
      	<div id="forum_bg_grun">
      <span class="kleintext" title="{topics} Themen"><img src="include/includes/css/pa_forum/images/forum_icon/icon_auge.png" alt="" align="absmiddle" /> {topics}</span><br />
      <span class="kleintext" title="{posts} Antworten"><img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> {posts}</span>
      	</div>
		<div id="icon">{icon}</div>
      </td>
  	</tr>
</table>
</div>
{EXPLODE}
<div id="forum_foot" align="right"><span class="foottext">
Diese Kategorie enth&auml;lt: 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_foren_grau.png" alt="" align="absmiddle" /> Foren: {count} 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_themen_grau.png" alt="" align="absmiddle" /> Themen: {themen} 
<img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> Posts: {post}</span></div>

<div align="center" style="width:100%; height:60px;"><p>
<a href="index.php?forum-markallasread" class="forumbutton">{_lang_markallasread}</a>
<a href="index.php?forum-augt" class="forumbutton">{_lang_newtopicssincelastvisit}</a>
<a href="index.php?forum-aubt" class="forumbutton">{_lang_topicwithnoreply}</a>
<a href="index.php?forum-aeit" class="forumbutton">{_lang_ownposts}</a>
</p></div>

<div id="forum_stat">
<div id="forum_oben"><div id="forentop"><a>Statistik</a></div></div>
<table width="100%" border="0" cellpadding="5" cellspacing="1">
	<tr class="stattable">
    	<td align="center" valign="top"><img src="include/images/forum/onlin.png" width="45" alt="" border="0" align="absmiddle" />
        </td>
		<td><u class="stattext">Gerade online:</u><br />
			<span class="stattext"> {useronline} {_if_{useronline}=='1'}User{/_endif}{_if_{useronline}!='1'}User{/_endif} {gastonline} {_lang_guests}</span><br />
			<span class="stattext">{userliste}</span>
        </td>
	</tr>
    <tr class="stattable">
    	<td align="center" valign="top"><img src="include/images/forum/online.png" width="45" alt="" border="0" align="absmiddle" />
        </td>
		<td><u class="stattext">Online war heute:</u><br /><span class="stattext">{userliste_today}</span>
        </td>
	</tr>
    <tr class="stattable">
    <td align="center" valign="top"><img src="include/images/forum/User-icon.png" width="45" alt="" border="0" align="absmiddle" /></td>
		<td><u class="stattext">Neueste Benutzer:</u><br />
        <span class="stattext">{newbenutzer}</span></td>
	</tr>
    <tr class="stattable">
    <td align="center" valign="top"><img src="include/images/forum/statistik.png" width="45" alt="" border="0" align="absmiddle" /></td>
		<td><u class="stattext">Informationen:</u><br />
        <b class="stattext">{users}</b>&nbsp;<span class="stattext">Mitglieder, haben in</span>&nbsp;
        <b class="stattext">{foren}</b>&nbsp;<span class="stattext">Foren,</span>&nbsp;
        <b class="stattext">{topics}</b>&nbsp;<span class="stattext">Themen erstellt und</span>&nbsp;
        <b class="stattext">{posts}</b>&nbsp;<span class="stattext">Beitr&auml;ge geschrieben.</span>
        </td>
	</tr>
    <tr class="stattable">
    <td align="center" valign="top">{imgbday}</td>
		<td><u class="stattext">Geburtstag:</u><br /><span class="stattext">{bday}</span></td>
	</tr>
</table>
</div>
<center class="stattable">
<br />
<img src="include/images/forum/nord.png" alt="neue Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_newposts}</span>&nbsp;
<img src="include/images/forum/ord.png" alt="keine neuen Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_nonewposts}</span>&nbsp;
<img src="include/images/forum/cord.png" alt="Thema geschlossen" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_topicclosed}</span>&nbsp;
<img src="include/images/forum/nordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema</span>&nbsp;<br>
<img src="include/images/forum/nordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema</span>&nbsp;
<br />
<br />
</center>
<div style="text-align:right; width:100%; height:20px;" class="stattable"><a class="kleintext" href="http://www.pintura-arts.de" target="_blank">Forum MOD Ver. 1.0 &copy; by Pintura-Arts.de</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
</div>