<div id="forum_oben"><a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a><div style="float:right;">{NEWTOPIC}</div></div>
<!--div id="forum_content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="forum_thema"-->
{EXPLODE}
<div id="forum_content">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="{VORT}">
  <tr>
		<td width="8%"><img src="include/images/forum/{ORD}.png" border="0" alt="" /></td>
		<td width="40%"><a href="index.php?forum-showposts-{id}" class="forum_nam">{name}</a><br />
			<span  class="kleintext">{_lang_author}: {erst}</span></td>
		<td class="forum_last">
			<div id="forum_last_kom">
			<span class="kleintext">
			{txt}<br />
			<a class="smalfont" href="index.php?forum-showposts-{id}-p{page}#{pid}">{_lang_lastfrom}: {last} am: {date}</a></span>
			</div>
		</td>
		<td width="13%" align="left" valign="middle">
	  <div id="forum_bg_grun">
      <span class="kleintext" title="{hit} Ansichten"><img src="include/includes/css/pa_forum/images/forum_icon/icon_auge.png" alt="" align="absmiddle" /> {hit}</span><br />
      <span class="kleintext" title="{rep} Antworten"><img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> {rep}</span>
	  </div>
	  <div id="icon">{icon}</div>
      </td>
  </tr>
</table>
</div>
{EXPLODE}
<!--/table>
</div-->
<div id="forum_foot" align="right"></div>

<br />
<center class="stattable">
<br />
<img src="include/images/forum/nord.png" alt="neue Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_newposts}</span>&nbsp;
<img src="include/images/forum/ord.png" alt="keine neuen Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_nonewposts}</span>&nbsp;
<img src="include/images/forum/cord.png" alt="Thema geschlossen" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_topicclosed}</span>&nbsp;
<img src="include/images/forum/nordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema</span>&nbsp;
<img src="include/images/forum/nordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema</span>&nbsp;
</center>	
<div style="text-align:right; width:100%; height:20px;" class="stattable"><a class="kleintext" href="http://www.pintura-arts.de" target="_blank">Forum MOD Ver. 1.0 &copy; by Pintura-Arts.de</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
<br />
<a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a>
<br />
{MPL}

{EXPLODE}
<br />
<a href="index.php?forum-editforum-{id}" class="forumbutton">{_lang_editforum}</a>
