<a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a>
{EXPLODE}
<div id="forum_oben"><div id="forentop"><a href="index.php?forum-showcat-{cid}">{cname}</a></div></div>
{EXPLODE}
<div id="forum_oben"><div id="forentop"><a href="index.php?forum-showcat-{cid}">{cname}</a></div></div>
{EXPLODE}
<div id="forum_content">
<table width="100%" cellpadding="0" cellspacing="0" class="forum_thema">
	<tr >
	  <td width="8%" align="center" valign="middle"><img alt="" src="include/images/forum/{ORD}.png" width="56" height="56" border="0"></td>
      <td width="40%">
		  <a class="forum_name" href="index.php?forum-showtopics-{id}">{name}</a>
		  <br />
			<span class="kleintext">{besch}
			{mods}
      </span>
	  </td>
      <td class="forum_last" width="5%" align="center"></td>
      <td class="forum_last">
      	<div id="forum_last_kom">
			<table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
				<tr>
					<td rowspan="4" width="12%" valign="middle" style="padding-top:4px;"><img src="{avatar}" alt="" width="35" height="43" /></td>
				</tr>
				<tr>
					<td><span class="smalfont"><a class="smalfont" title="{topicl}" href="index.php?forum-showposts-{tid}-p{page}#{pid}">{topic}</a></td>
				</tr>
				<tr>
					<td><span class="kleintext">{poster}</span></td>
				</tr>
				<tr>
					<td><span class="kleintext">{datum}</span></td>
				</tr>
			</table>
		  </span>
        </div>  
	  </td>
      <td width="13%" align="left" valign="middle">
	  <div id="forum_bg_grun">
      <span class="kleintext"><img src="include/includes/css/pa_forum/images/forum_icon/icon_auge.png" alt="" align="absmiddle" /> {topics}</span><br />
      <span class="kleintext"><img src="include/includes/css/pa_forum/images/forum_icon/icon_posts_grau.png" alt="" align="absmiddle" /> {posts}</span>
	  </div>
	  <div id="icon">{icon}</div>
      </td>
  	</tr>
</table>
</div>
{EXPLODE}
<br /> 
<center class="stattable">
<br />
<img src="include/images/forum/nord.png" alt="neue Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_newposts}</span>&nbsp;
<img src="include/images/forum/ord.png" alt="keine neuen Beitr&auml;ge" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_nonewposts}</span>&nbsp;
<img src="include/images/forum/cord.png" alt="Thema geschlossen" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">{_lang_topicclosed}</span>&nbsp;
<img src="include/images/forum/nordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordbrisant.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">brisantes Thema</span>&nbsp;
<img src="include/images/forum/nordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema mit Beitrag</span>&nbsp;
<img src="include/images/forum/ordfest.png" alt="" border="0" width="36" align="absmiddle" />&nbsp;<span class="kleintext">festes Thema</span>&nbsp;
</center>
<div style="text-align:right; width:100%; height:20px;" class="stattable"><a class="kleintext" href="http://www.pintura-arts.de" target="_blank">Forum MOD Ver. 1.0 &copy; by Pintura-Arts.de</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
<br />
<a class="forumbutton" href="javascript:history.back(1)"><b>&laquo;</b>{_lang_back}</a>
<br />
