<script type="text/javascript" src="include/includes/css/pa_forum/jscolor/jscolor.js"></script>
<table cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="10"></td>
		<td valign="bottom"><h1>Einstellungen Forum</h1></td>
	</tr>
	<tr>
		<td colspan="2"><a class="forumbutton" href="admin.php?forum">zur&uuml;ck zur Forenverwaltung</a></td>
	</tr>
</table>
<br />
<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
<tr><td width="40%" valign="top">
<table width="100%" cellspacing="1" cellpadding="4" border="0" class="border">
	<tr class="Cnorm"><td colspan="2">Einstellungen f&uuml;r Forumansicht wird auch f&uuml;r die Kategorieansicht und Themenansicht &uuml;bernommen</td></tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>&Uuml;berschriftzeile</b></td>
	</tr>
	<form action="admin.php?forenmod" method="post">
	<input type="hidden" name="forenmod" value="1">
	<tr>
		<td class="Cnorm" width="50%" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="textcolor" class="color" value="{textcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bgcolor" class="color" value="{bgcolor}"></td>
	</tr>
	
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bgimage" type="txt" value="{bgimage}"></td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Infozeile</b></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infotextcolor" class="color" value="{infotextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infobgcolor" class="color" value="{infobgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infobgimage" type="txt" value="{infobgimage}"></td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Kategoriezeile</b></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="cattextcolor" class="color" value="{cattextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catbgcolor" class="color" value="{catbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Hover</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catbghover" class="color" value="{catbghover}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catbgimage" type="txt" value="{catbgimage}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image Hover</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catbgimagehover" type="txt" value="{catbgimagehover}"></td>
	</tr>	
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe f&uuml;r feste Themen</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catfestbgcolor" class="color" value="{catfestbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Hover f&uuml;r feste Themen</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catfesthbghover" class="color" value="{catfesthbghover}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image f&uuml;r feste Themen</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catfestbgimage" type="txt" value="{catfestbgimage}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image Hover f&uuml;r feste Themen</td>
		<td class="Cmite" style="padding:5px 15px"><input name="catfesthbgimagehover" type="txt" value="{catfesthbgimagehover}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund letzter Beitrag</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bgletzter" class="color" value="{bgletzter}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Info Feld</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bginfo" class="color" value="{bginfo}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Last Poster ein oder ausschalten</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infowidth" type="radio" value="1" {lastj} />anzeigen&nbsp;&nbsp;<input name="infowidth" type="radio" value="0" {lastn} />abschalten</td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Infozeile unten</b></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infountentextcolor" class="color" value="{infountentextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infountenbgcolor" class="color" value="{infountenbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infountenbgimage" type="txt" value="{infountenbgimage}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Infozeile ein oder ausschalten</td>
		<td class="Cmite" style="padding:5px 15px"><input name="info" type="radio" value="1" {infoj} />anzeigen&nbsp;&nbsp;<input name="info" type="radio" value="0" {infon} />abschalten</td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Avataranzeige</b></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Avatar ein oder ausschalten</td>
		<td class="Cmite" style="padding:5px 15px"><input name="avar" type="radio" value="1" {avarj} />anzeigen&nbsp;&nbsp;<input name="avar" type="radio" value="0" {avarn} />abschalten</td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Statistik</b></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="stattextcolor" class="color" value="{stattextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="statbgcolor" class="color" value="{statbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="statbgimage" type="txt" value="{statbgimage}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Statistik ein oder ausschalten</td>
		<td class="Cmite" style="padding:5px 15px"><input name="stat" type="radio" value="1" {statj} />anzeigen&nbsp;&nbsp;<input name="stat" type="radio" value="0" {statn} />abschalten</td>
	</tr>
	<tr>
		<td height="37" colspan="2" class="Cmite" style="padding:5px 15px; margin-left:60%;">
		<input class="forumbutton" name="submit" type="submit" value="speichern"></form></td>
	</tr>
</table>
</td>
<td width="10%"></td>
<td width="40%" valign="top">
<table width="100%" cellspacing="1" cellpadding="4" border="0" class="border">
	<tr class="Cnorm"><td colspan="2">Einstellungen f&uuml;r die Postansicht werden hier vorgenommen</td></tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>&Uuml;berschriftzeile</b></td>
	</tr>
	<form action="admin.php?forenmod" method="post">
	<input type="hidden" name="forenmodpost" value="1">
	<tr>
		<td class="Cnorm" width="50%" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="uebercolor" class="color" value="{uebercolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="ueberbgcolor" class="color" value="{ueberbgcolor}"></td>
	</tr>
	
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="ueberbgimage" type="txt" value="{ueberbgimage}"></td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Beitragzeile</b></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="uebertextcolor" class="color" value="{uebertextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="ueberinfobgcolor" class="color" value="{ueberinfobgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="ueberinfobgimage" type="txt" value="{ueberinfobgimage}"></td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Textausgabefeld</b></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Gesamthintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="postbg" class="color" value="{postbg}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="posttextcolor" class="color" value="{posttextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="postbgcolor" class="color" value="{postbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="postbgimage" type="txt" value="{postbgimage}"></td>
	</tr>
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Infozeile unten</b></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="untentextcolor" class="color" value="{untentextcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Farbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="untenbgcolor" class="color" value="{untenbgcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">Hintergrund Image</td>
		<td class="Cmite" style="padding:5px 15px"><input name="untenbgimage" type="txt" value="{untenbgimage}"></td>
	</tr>
	<tr>
		<td class="Cnorm" width="20%" style="padding:5px 15px">zuletzt online Zeile ein oder ausschalten</td>
		<td class="Cmite" style="padding:5px 15px"><input name="infopost" type="radio" value="1" {infopostj} />anzeigen&nbsp;&nbsp;<input name="infopost" type="radio" value="0" {infopostn} />abschalten</td>
	</tr>
	<tr>
		<td height="37" colspan="2" class="Cmite" style="padding:5px 15px; margin-left:60%;">
		<input class="forumbutton" name="submit" type="submit" value="speichern"></form></td>
	</tr>
	<!-- Button -->
	<tr class="Chead">
		<td colspan="2" style="padding:5px 15px"><b>Button Einstellung</b></td>
	</tr>
	<form action="admin.php?forenmod" method="post">
	<input type="hidden" name="forenbutton" value="1">
	<tr>
		<td class="Cnorm" width="50%" style="padding:5px 15px">Button Farbe 1</td>
		<td class="Cmite" style="padding:5px 15px"><input name="boben" class="color" value="{boben}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Button Farbe 2</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bunten" class="color" value="{bunten}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bcolor" class="color" value="{bcolor}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Button Farbe 1 Hover</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bhoben" class="color" value="{bhoben}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Button Farbe 2 Hover</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bhunten" class="color" value="{bhunten}"></td>
	</tr>
	<tr>
		<td class="Cnorm" style="padding:5px 15px">Textfarbe Hover</td>
		<td class="Cmite" style="padding:5px 15px"><input name="bhcolor" class="color" value="{bhcolor}"></td>
	</tr
	<tr>
		<td height="37" colspan="2" class="Cmite" style="padding:5px 15px; margin-left:60%;">
		<input class="forumbutton" name="submit" type="submit" value="speichern"></form></td>
	</tr>
	<!-- Button -->
	<tr class="Cmite">
		<td colspan="2">
			<!-- Uploader -->
				<strong style="font-weight:bold;">Images-Uploader</strong>
				<ul>
				<li>Erlaubt sind:<b style="color:red;"> jpg, jpeg, png, gif </b>Dateien</li>
				<li>es ist auch m&ouml;glich mehrere Dateien gleichzeitig hochzuladen!</li>
				<li>einfach den Dateinamen ins entsprechende Texfeld einf&uuml;gen!</li>
				</ul>
				<br />
				<form id="upload" method="post" action="include/includes/css/pa_forum/forenupload.php" enctype="multipart/form-data">
					<div id="drop">
						<a title="Datei zum hochladen ausw&auml;hlen">Durchsuchen!</a>
						<input type="file" name="upl" multiple />
					</div>
					<ul>
					<!-- The file uploads will be shown here -->
					</ul>
					</form>
					<!-- JavaScript Includes -->
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
					<script src="include/admin/assets/js/jquery.knob.js"></script>
					<!-- jQuery File Upload Dependencies -->
					<script src="include/admin/assets/js/jquery.ui.widget.js"></script>
					<script src="include/admin/assets/js/jquery.iframe-transport.js"></script>
					<script src="include/admin/assets/js/jquery.fileupload.js"></script>
					<!-- Our main JS file -->
					<script src="include/admin/assets/js/forenscript.js"></script>
			<!-- Uploader -->
		</td>
	</tr>
</table>
</td>
</tr>
</table>