#upload{
    font-family:'PT Sans Narrow', sans-serif;
    width:100%;
    padding:3px;
    border-radius:1px;
    margin:0 auto 0;
}

#drop{
    padding: 4px 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size:12px;
    font-weight:bold;
}

#drop a{
    background-color:#007a96;
	background:-moz-linear-gradient(bottom, #007a96 40%, #004453 80%); /* Firefox */
	background:-webkit-linear-gradient(bottom, #007a96 40%, #004453 80%); /* Safari, Chrome */
	background:-o-linear-gradient(bottom, #007a96 40%, #004453 80%); /* Opera */
	background:-ms-linear-gradient(bottom, #007a96 40%, #004453 80%); /* IE */
	background:linear-gradient(bottom, #007a96 40%, #004453 80%); /* W3C Standard */
    padding:12px 26px;
    color:#ffffff;
    font-size:12px;
    border-radius:5px;
    cursor:pointer;
    display:inline-block;
    margin-top:1px;
    line-height:12px;
	box-shadow: 1px 1px 1px #000000;
	text-shadow: 1px 1px 1px #000000;
	text-decoration: none;
	-moz-transition:all 1s ease 0s; /*Firefox*/
	-webkit-transition:all 1s ease 0s; /*Safari + Chrome*/
	-o-transition:all 1s ease 0s; /*Opera*/
	-ms-transition:all 1s ease 0s; /*Internet Explorer*/
	transition:all 1s ease 0s; /*W3C Standard*/
}

#drop a:hover{
    background-color:#007a96;
	background:-moz-linear-gradient(top, #007a96 40%, #004453 80%); /* Firefox */
	background:-webkit-linear-gradient(top, #007a96 40%, #004453 80%); /* Safari, Chrome */
	background:-o-linear-gradient(top, #007a96 40%, #004453 80%); /* Opera */
	background:-ms-linear-gradient(top, #007a96 40%, #004453 80%); /* IE */
	background:linear-gradient(top, #007a96 40%, #004453 80%); /* W3C Standard */
	box-shadow: 2px 2px 1px #000000;
	text-shadow: 2px 2px 1px #000000;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin: -30px 0 0 0;
}

#upload ul li{
    height: 35px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li textarea{
    width: 336px;
    overflow: hidden;
    white-space: nowrap;
    color: #000000;
    font-size: 10px;
    position: absolute;
    top: 4px;
	left: 4px;
	box-shadow: 2px 2px #000000;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#000000;
}

#upload ul li canvas{
    top: 6px;
    left: -34px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 14px;
    right: -3px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}
