<script language="JavaScript" type="text/javascript"><!--
function delbosscheck ( DELID ) {
	var frage = confirm ( "Willst du diesen Boss wirklich entfernen?" );
	if ( frage === true ) {
	  document.location.href="?wowraids-edit-{RAIDID}-del-"+DELID;
	}
}
//--></script>
<table cellpadding="2" cellspacing="1" border="0" class="border">
    <tr class="Chead"> 
      <td colspan="2">Boss (LvL)</td>
      <td>Normal</td>
      <td>Heroisch</td>
      <td>Mythisch</td>
      <td colspan="4"></td>
    </tr>
{EXPLODE}
    <tr class="{class}"> 
      <td align="center" valign="middle"><img src="include/images/wowraids/bosses/{RAIDID}/{AVATAR}" alt="Avatar" width="29" /></td>
      <td align="left" valign="middle">{BOSS} ({LvL})</td>
      <td align="center" valign="middle"><img src="include/images/icons/{N}.gif" alt="" /></td>
      <td align="center" valign="middle"><img src="include/images/icons/{HC}.gif" alt="" /></td>
      <td align="center" valign="middle"><img src="include/images/icons/{MYT}.gif" alt="" /></td>
	  <td align="center" width="5%"><a href="#" name="{ID}"></a><a href="javascript:delbosscheck({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
	  <td align="center" width="5%"><a href="?wowraids-edit-{RAIDID}-edit-{ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
	  <td width="5%" valign="middle" align="center"><a href="admin.php?wowraids-edit-{RAIDID}-up-{ID}"><img src="include/images/icons/pfeilo.gif" alt="L&ouml;schen" title="hoch" border="0"></a></td>
	  <td width="5%" valign="middle" align="center"><a href="admin.php?wowraids-edit-{RAIDID}-down-{ID}"><img src="include/images/icons/pfeilu.gif" alt="L&ouml;schen" title="runter" border="0"></a></td>
    </tr>
{EXPLODE}
  </table>
<br /><br />
<form method="POST" name="form" action="?wowraids-edit-{RAIDID}" enctype="multipart/form-data">
  <input type="hidden" name="um"     value="{AKTION2}">
  <input type="hidden" name="bossID" value="{BOSSID}">
	<table width="588" cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right" valign="top"><strong>Avatar : </strong></td>
      <td class="Cnorm"><img src="include/images/wowraids/bosses/{RAIDID}/{AVATAR}" alt="Keine Vorschau" width="58" /><br /><input type="file" name="avatar"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Name : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="name" value="{NAME}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Level : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="level" value="{LEVEL}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Besiegt : </strong></td>
      <td class="Cnorm"><input type="checkbox" checked="checked" value="0" style="display:none" name="n" /><input type="checkbox" value="1" name="n"{N} />&nbsp;Normal&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" value="0" style="display:none" name="hc" /><input type="checkbox" value="1" name="hc"{HC} />&nbsp;Heroisch&nbsp;&nbsp;&nbsp;<input type="checkbox" checked="checked" value="0" style="display:none" name="myt" /><input type="checkbox" value="1" name="myt"{MYT} />&nbsp;Mythisch&nbsp;&nbsp;&nbsp;</td>
    </tr>
    <tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
<br /><br />