<script language="JavaScript" type="text/javascript"><!--
function delplayer ( DELID ) {
	var frage = confirm ( "Willst du diesen Spieler wirklich entfernen?" );
	if ( frage === true ) {
	  document.location.href="?wowraidplaner-edit-{PLANID}-del-"+DELID;
	}
}
//--></script>
<Script language="JavaScript">
<!-- Script courtesy of http://www.web-source.net - Your Guide to Professional Web Site Design and Development
function goto(form) { var index=form.role.selectedIndex
if (form.role.options[index].value != "0") {
location=form.role.options[index].value;}}
//-->
</SCRIPT>
{EXPLODE}
<table cellpadding="2" cellspacing="1" border="0" class="border" width="450">
{EXPLODE}
    <tr class="Chead"> 
      <td colspan="10">Teilnehmer</td>
    </tr>
    <tr class="Cdark">
      <td></td>
      <td>Rolle</td>
      <td>Mitglied</td>
      <td>Character</td>
      <td>Klasse</td>
      <td>GS</td>
      <td>EXP</td>
      <td></td>
    </tr>
{EXPLODE}
    <tr class="Chead"> 
      <td colspan="10">Ausstehende Teilnehmer</td>
    </tr>
    <tr class="Cdark">
      <td colspan="2"></td>
      <td>Rolle</td>
      <td>Mitglied</td>
      <td>Character</td>
      <td>Klasse</td>
      <td>GS</td>
      <td>EXP</td>
      <td></td>
    </tr>
{EXPLODE}
    <tr class="{class}">
      <td><a href="#" name="{ID}"></a><a href="javascript:delplayer({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
      <td><form name="form1"><img src="include/images/icons/{ROLE}.png" alt="{ROLEN}" title="{ROLEN}" style="margin-bottom: -3px" /> <select name="role" ONCHANGE="goto(this.form)" size="1">{ROLES}</select><input value="{ID}" type="text" name="player" style="display:none" /></form></td>
      <td>{PLAYER}</td>
      <td>{CHARACTER}</td>
      <td>{CLASS}</td>
      <td>{GEARSCORE}</td>
      <td>{EXP}</td>
      <td><a href="{ARSENAL}" target="_blank">Arsenal</a></td>
    </tr>
{EXPLODE}
    <tr class="{class}">
      <td><a href="#" name="{ID}"></a><a href="javascript:delplayer({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
    <td><a href="?wowraidplaner-edit-{RAID}-join-{ID}"><img src="include/images/icons/ok.gif" alt="Eintragen" title="Eintragen" border="0"></a></td>
      <td><form name="form1"><img src="include/images/icons/{ROLE}.png" alt="{ROLEN}" title="{ROLEN}" style="margin-bottom: -3px" /> <select name="role" ONCHANGE="goto(this.form)" size="1">{ROLES}</select><input value="{ID}" type="text" name="player" style="display:none" /></form></td>
      <td>{PLAYER}</td>
      <td>{CHARACTER}</td>
      <td>{CLASS}</td>
      <td>{GEARSCORE}</td>
      <td>{EXP}</td>
      <td><a href="{ARSENAL}" target="_blank">Arsenal</a></td>
    </tr>
{EXPLODE}
  </table>
<br /><br />