<!-- Raidplaner 1.3.0 by www.cristiang.de for ilchClan 1.1 P by www.ilch.de -->
<!-- Raid Uebersicht -->

<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
{EXPLODE}
  <tr class="Chead">
    <td colspan="5">{ADDON}</td>
  </tr>
{EXPLODE}
  <tr class="Cdark">
    <td colspan="5">{TYPE}</td>
  </tr>
{EXPLODE}
  <tr class="{class}">
    <td width="65%">{NAME}<!--{heroic}--></td>
    <td width="10%"><img src="include/images/icons/skull-boss.png" alt="Bosse" title="Bosse" style="margin-bottom: -3px" />{bosses}</td>
    <td width="5%" align="center" title="Level">{level}</td>
    <td width="10%" title="Spieler">{players}</td>
    <td width="10%" align="center"><a href="index.php?raids-details-{ID}">ansehen</a></td>
  </tr>
{EXPLODE}
</table>


{EXPLODE}


<!-- Raid Details -->
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
{EXPLODE}
  <tr class="Chead">
    <td colspan="2">{TITLE}{heroic}</td>
  </tr>
  <tr class="Cnorm">
    <td width="50%">{PREVIEW}</td>
    <td width="50%">{MAP}</td>
  </tr>
  <tr class="Cnorm">
    <td colspan="2">Typ: {TYPE}</td>
  </tr>
  <tr class="Cmite">
    <td colspan="2">Spieler: {PLAYERS}</td>
  </tr>
  <tr class="Cnorm">
    <td colspan="2">Stufe: {LEVEL}</td>
  </tr>
  <tr class="Cmite">
    <td colspan="2">Ort: {PLACE}</td>
  </tr>
{EXPLODE}
</table>
<br /><br />

<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="6">Bosse</td>
  </tr>
  <tr class="Cdark">
    <td colspan="2"></td>
    <td align="center" valign="middle">Normal</td>
    <td align="center" valign="middle">Heroisch</td>
    <td align="center" valign="middle">Mythisch</td>
  </tr>
{EXPLODE}
  <tr class="{class}">
    <td align="center" valign="middle"><img src="include/images/wowraids/bosses/{ID}/{AVATAR}" alt="{NAME}" width="32" /></td>
    <td valign="middle">{NAME} ({LVL})</td>
    <td align="center" valign="middle">{NORMAL}</td>
    <td align="center" valign="middle">{HEROIC}</td>
    <td align="center" valign="middle">{MYTHICAL}</td>
  </tr>
{EXPLODE}
</table>
<br /><br />
{EXPLODE}
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="5">Geplante Raids</td>
  </tr>
{EXPLODE}
  <tr class="{class}">
    <td width="5%">{heroic}</td>
    <td width="50%">{TIME}</td>
    <td width="30%" title="Spieler">Spieler: {PLAYERS}</td>
    <td width="15%" align="center"><a href="index.php?raidplaner-details-{ID}">ansehen</a></td>
  </tr>
{EXPLODE}
</table>