<!-- Raidplaner 1.0.0 by www.cristiang.de for ilchClan 1.1 P by www.ilch.de -->

<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="4">{TABLENAME}</td>
  </tr>
  <tr class="Cdark">
    <td width="35%">Zeitpunkt</td>
    <td width="55%">Raid</td>
    <td width="5%" align="center">Spieler</td>
    <td width="5%"></td>
  </tr>
{EXPLODE}
  <tr class="{class}">
    <td>{TIME} Uhr</td>
    <td>{NAME}{heroic}</td>
    <td align="center">{PLAYERS}</td>
    <td align="center"><a href="index.php?raidplaner-details-{ID}">ansehen</a></td>
  </tr>
{EXPLODE}
</table>
<br /><br />


{EXPLODE}


<!-- Raidplan Details -->
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
{EXPLODE}
  <tr class="Chead">
    <td colspan="2">{TITLE}{heroic}</td>
  </tr>
  <tr class="Cnorm">
    <td width="100%" colspan="2">{PREVIEW}</td>
  </tr>
  <tr class="Cmite">
    <td width="30%">Zeitpunkt:</td>
    <td width="70%">{DATE} - {TIME} Uhr</td>
  </tr>
  <tr class="Cnorm">
    <td>Max. Spieler:</td>
    <td>{PLAYERS}</td>
  </tr>
  <tr class="Cmite">
    <td>Mind. Gearscore:</td>
    <td>{GEARSCORE}</td>
  </tr>
  <tr class="Cnorm">
    <td>Raidleiter:</td>
    <td>{LEADER}</td>
  </tr>
  <tr class="Cnorm">
    <td>Bosse:</td>
    <td>{BOSSES}</td>
  </tr>
{EXPLODE}
</table>
<br /><br />
{EXPLODE}


<!-- Spieler Statistik -->
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Cmite">
    <td width="25%">{STANKS}x <img src="include/images/icons/tank.png" alt="Tank" title="Tank" style="margin-bottom: -3px" />  Tank</td>
    <td width="25%">{SHEALER}x <img src="include/images/icons/heal.png" alt="Heiler" title="Heiler" style="margin-bottom: -3px" />  Heiler</td>
    <td width="25%">{SDAMAGE}x <img src="include/images/icons/damage.png" alt="Schaden" title="Schaden" style="margin-bottom: -3px" />  Schaden</td>
    <td width="25%">Spieler: {ALLPLAYERS}</td>
  </tr>
</table>
<br /><br />


<!-- Raid Teilnehmer -->
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="4">Teilnehmer</td>
  </tr>
{EXPLODE}
  <tr class="{class}">
    <td width="20%"><img src="include/images/icons/{ROLE}.png" alt="{ROLEN}" title="{ROLEN}" style="margin-bottom: -3px" /> {ROLEN}</td>
    <td width="50%">{CHARACTER}</td>
    <td width="15%">{CLASS}</td>
    <td width="15%">GS {GEARSCORE}</td>
  </tr>
{EXPLODE}
</table>
<br />


{EXPLODE}
<br />
<!-- Teilnahme-Formular -->
<form method="post" action="index.php?raidplaner-details-{ID}">
<input type="hidden" name="um"     value="join">
<input type="hidden" name="planID" value="{ID}">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Chead">
    <td colspan="3">Mach mit!</td>
  </tr>
  <tr class="Cmite">
    <td width="20%">Position:</td>
    <td width="80%">
      <label><input type="radio" value="1" name="role" checked="checked" /><img src="include/images/icons/tank.png" alt="Tank" title="Tank" style="margin-bottom: -3px" /> Tank&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="role" value="2" /><img src="include/images/icons/heal.png" alt="Tank" title="Tank" style="margin-bottom: -3px" /> Heiler&nbsp;&nbsp;&nbsp;</label>
      <label><input type="radio" name="role" value="3" /><img src="include/images/icons/damage.png" alt="Tank" title="Tank" style="margin-bottom: -3px" /> Schaden</label></td>
  </tr>
  <tr class="Cnorm">
    <td>Character:</td>
    <td><input type="text" size="15" name="character" value="{CHARACTER}" /></td>
  </tr>
  <tr class="Cnorm">
    <td>Klasse:</td>
    <td><select name="class">
      <option value="Druide">Druide</option>
      <option value="Hexenmeister">Hexenmeister</option>
      <option value="J&auml;ger">J&auml;ger</option>
      <option value="Krieger">Krieger</option>
      <option value="Magier">Magier</option>
      <option value="Paladin">Paladin</option>
      <option value="Priester">Priester</option>
      <option value="Schamane">Schamane</option>
      <option value="Schurke">Schurke</option>
      <option value="Todesritter">Todesritter</option>
    </select></td>
  </tr>
  <tr class="Cnorm">
    <td>Gearscore:</td>
    <td><input type="text" size="5" name="gearscore" value="{GEARSCORE}" /></td>
  </tr>
  <tr class="Cmite">
    <td>Erfahrung:</td>
    <td><input type="text" size="5" name="experience" value="{EXPERIENCE}" /></td>
  </tr>
  <tr class="Cnorm">
    <td width="100%" colspan="2" align="center"><input type="submit" name="submit" value="Teilnehmen" /></td>
  </tr>
</table>
<br />
</form>
{EXPLODE}
<!-- Teilnahme-Formular -->
<form method="post" action="index.php?raidplaner-details-{ID}">
<input type="hidden" name="um"     value="left">
<input type="hidden" name="planID" value="{ID}">
<table width="100%" border="0" cellpadding="2" cellspacing="1" class="border">
  <tr class="Cnorm">
    <td width="100%" colspan="2" align="center"><input type="submit" name="submit" value="Verlassen" /></td>
  </tr>
</table>
<br />
</form>

