<script language="JavaScript" type="text/javascript"><!--
function delcheck ( DELID ) {
	var frage = confirm ( "Willst du diesen Raid wirklich entfernen?" );
	if ( frage === true ) {
	  document.location.href="?wowraidplaner-del-"+DELID;
	}
}
//--></script>
<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src="include/images/icons/admin/wowraids.png" /></td><td width="30"></td><td valign="bottom"><h1>Raidplaner</h1></td></tr></table>
<hr style="width: 400px; margin: 0px;" >
<br /><br />

<table border="0" cellspacing="0" cellpadding="0"><tr><td valign="top">

<form method="POST" name="form" action="?wowraidplaner">
  <input type="hidden" name="um"     value="{AKTION}">
  <input type="hidden" name="planID" value="{PLANID}">
	<table cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right"><strong>Raid : </strong></td>
      <td class="Cnorm"><select name="raid">{RAIDS}</select></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Heroisch : </strong></td>
      <td class="Cnorm"><input type="checkbox" name="heroic" value="0" checked="checked" hidden> <input type="checkbox" name="heroic" value="1"{HEROIC}></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Spieler : </strong></td>
      <td class="Cnorm"><select name="players">{PLAYERS}</select></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Gearscore : </strong></td>
      <td class="Cnorm"><input size="10" type="text" name="gearscore" value="{GEARSCORE}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Zeitpunkt : </strong></td>
      <td class="Cnorm"><input size="10" type="text" name="date" value="{DATE}"> - <input size="4" type="text" name="time" value="{TIME}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Raidleiter : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="leader" value="{LEADER}"></td>
    </tr>
    <tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
<br /><br />

{EXPLODE}

<div class="info_box">
			<b>Merke (Spieler)</b>
			<br />
			<span class="smalfont">
            Hier wird die maximale Anzahl an Teilnehmer festgelegt.<br />
            Wenn die maximale Anzahl an Teilnehmer best&auml;tigt wurde, wird das Anmeldeformular automatisch ausgeblendet und die Anmeldung f&uuml;r diesen Raid ist dann geschlossen.<br />
            Sollte ein Spieler sich abmelden, muss man diesen auch aus dem Raid entfernen damit das Anmeldeformular wieder angezeigt wird.
			</span>
</div>
<div class="info_box">
			<b>Merke (Gearscore)</b>
			<br />
			<span class="smalfont">
            Hier kann optional ein Mindest-Gearscorelevel, als Richtlinie f&uuml;r die Gildenmitglieder, angegeben werden.
			</span>
</div>
<div class="info_box">
			<b>Merke (Zeitpunkt)</b>
			<br />
			<span class="smalfont">
            Der Zeitpunkt muss immer aus Datum und Uhrzeit festgelegt werden.<br />
            Hierbei ist zu achten dass die deutsche Schreibweise f&uuml;r das Datum genutzt wird z.B. 30.12.2001 und die Uhrzeit aus 24-Stunden und Minuten besteht z.B. 23.59 Uhr.<br />
            Wird die Schreibweise missachtet oder generell der Zeitpunkt falsch eingetragen, kann es zu Fehlern in der Ausgabe der Raids kommen.
			</span>
</div>

</td><td width="75">&nbsp;</td><td valign="top">

{MPL}
<table cellpadding="3" cellspacing="1" border="0" class="border">

<tr class="Cdark">
	<td colspan="4">N&auml;chste Raids</td>
    <td>Spieler</td>
</tr>
{EXPLODE}
<tr class="{class}">
    <td><a href="#" name="{ID}"></a><a href="javascript:delcheck({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
    <td><a href="?wowraidplaner-edit-{ID}"><img src="include/images/icons/edit.gif" alt="Verwalten" title="Verwalten" border="0"></a></td>
		<td>{TIME}</td>
		<td>{TITLE}{HEROIC}</td>
		<td>{PLAYERS}&nbsp;&nbsp;({NEW})</td>
 </tr>
{EXPLODE}
</table>
{MPL}
<br /><br />
<span class="smalfont">
  Zahl in Klammer = Ausstehende Teilnehmer, die noch nicht best&auml;tigt wurden.
</span><br />
<br /><br />
<table cellpadding="3" cellspacing="1" border="0">

<tr>
	<td><img src="include/images/icons/skull.png" alt="Heroisch" title="Heroisch" style="margin-bottom: -3px" /></td>
    <td>=</td>
    <td>Heroisch</td>
</tr>
<tr>
	<td><img src="include/images/icons/tank.png" alt="Tank" title="Tank" style="margin-bottom: -3px" /></td>
    <td>=</td>
    <td>Tank</td>
</tr>
<tr>
	<td><img src="include/images/icons/heal.png" alt="Heiler" title="Heiler" style="margin-bottom: -3px" /></td>
    <td>=</td>
    <td>Heiler</td>
</tr>
<tr>
	<td><img src="include/images/icons/damage.png" alt="Schaden" title="Schaden" style="margin-bottom: -3px" /></td>
    <td>=</td>
    <td>Schaden</td>
</tr>
</table>

</td></tr></table>

<script language="JavaScript" type="text/javascript">
<!--
  sichtbar();
//-->
</script>
