<script language="JavaScript" type="text/javascript"><!--
function delcheck ( DELID ) {
	var frage = confirm ( "Willst du diesen Raid wirklich entfernen?" );
	if ( frage === true ) {
	  document.location.href="?wowraids-del-"+DELID;
	}
}
//--></script>

<table cellpadding="0" cellspacing="0" border="0"><tr><td><img src="include/images/icons/admin/wowraids.png" /></td><td width="30"></td><td valign="bottom"><h1>Raids</h1></td></tr></table>
<hr style="width: 400px; margin: 0px;" >
<br /><br />

<table border="0" cellspacing="0" cellpadding="0"><tr><td valign="top">

<form method="POST" name="form" action="?wowraids" enctype="multipart/form-data">
  <input type="hidden" name="um"     value="{AKTION}">
  <input type="hidden" name="raidID" value="{RAIDID}">
	<table width="588" cellpadding="2" cellspacing="1" border="0" class="border">
    <tr> 
      <td class="Cmite" align="right"><strong>Addon : </strong></td>
      <td class="Cnorm"><select name="addon">{ADDONS}</select></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Type : </strong></td>
      <td class="Cnorm"><select name="type">{TYPES}</select></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Heroisch : </strong></td>
      <td class="Cnorm"><input type="checkbox" checked="checked" value="0" style="display:none" name="heroic" /><input type="checkbox" value="1" name="heroic"{HCCHECK} /></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Titel : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="title" value="{TITLE}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right" valign="top"><strong>Vorschau : </strong></td>
      <td class="Cnorm"><img src="include/images/{PREVIEW}" alt="Kein Bild hochgeladen" width="488" /><br /><input type="file" name="preview"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right" valign="top"><strong>Karte : </strong></td>
      <td class="Cnorm"><img src="include/images/{MAP}" alt="Kein Bild hochgeladen" width="488" /><br /><input type="file" name="map"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Gearscore : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="gearscore" value="{GEARSCORE}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Level : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="level" value="{LEVEL}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Spieler : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="players" value="{PLAYERS}"></td>
    </tr>
    <tr> 
      <td class="Cmite" align="right"><strong>Ort : </strong></td>
      <td class="Cnorm"><input size="50" type="text" name="place" value="{PLACE}"></td>
    </tr>
    <tr class="Cdark"> 
      <td></td>
      <td><input type="submit" value="{FSUB}" name="submit"></td>
    </tr>
  </table>
</form>
<br /><br />
{EXPLODE}
{EXPLODE}

<div class="info_box">
			<b>Merke (Gearscore)</b>
			<br />
			<span class="smalfont">
            Hier kann ein Mindest-Gearscorelevel, als Richtlinie f&uuml;r die Gildenmitglieder, angegeben werden.
			</span>
</div><br />

</td><td width="75">&nbsp;</td><td valign="top">

<table cellpadding="3" cellspacing="1" border="0" class="border">
{EXPLODE}
<tr class="Cdark"><td colspan="5">{TITEL}</td></tr>
{EXPLODE}
<tr class="{class}">
	  <td width="5%"><a href="#" name="{ID}"></a><a href="javascript:delcheck({ID})"><img src="include/images/icons/del.gif" alt="L&ouml;schen" title="L&ouml;schen" border="0"></a></td>
    <td width="5%"><a href="?wowraids-edit-{ID}"><img src="include/images/icons/edit.gif" alt="Ver&auml;ndern" title="Ver&auml;ndern" border="0"></a></td>
		<td width="80%">{TITEL}</td>
		<td width="5%" valign="middle" align="center"><a href="admin.php?wowraids-up-{ID}"><img src="include/images/icons/pfeilo.gif" alt="L&ouml;schen" title="hoch" border="0"></a></td>
		<td width="5%" valign="middle" align="center"><a href="admin.php?wowraids-down-{ID}"><img src="include/images/icons/pfeilu.gif" alt="L&ouml;schen" title="runter" border="0"></a></td>
 </tr>{EXPLODE}
</table>

<br /><br />

<table cellpadding="3" cellspacing="1" border="0" class="border">

<tr class="Cdark">
	<td colspan="3">N&auml;chste Raids</td>
    <td>Spieler</td>
</tr>
{EXPLODE}
<tr class="{class}">
    <td><a href="?wowraidplaner-edit-{ID}"><img src="include/images/icons/edit.gif" alt="Verwalten" title="Verwalten" border="0"></a></td>
		<td>{TIME}</td>
		<td>{TITLE}{HEROIC}</td>
		<td>{PLAYERS}&nbsp;&nbsp;({NEW})</td>
 </tr>
{EXPLODE}
</table>

<br /><a href="admin.php?wowraidplaner">&raquo; Geplante Raids verwalten</a>
<br /><br /><br />
<span class="smalfont">
  Zahl in Klammer = Ausstehende Teilnehmer, die noch nicht best&auml;tigt wurden.
</span>

</td></tr></table>
